@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@layer base {

  body {
    @apply bg-gray-50 text-gray-800 dark:bg-[#070b14] dark:text-gray-200 transition-colors duration-200;
    font-family: ui-sans-serif, system-ui, sans-serif;
  }

  button,
  a,
  select,
  [role="button"] {
    cursor: pointer;
  }

  button:disabled,
  a:disabled,
  select:disabled,
  [role="button"]:disabled {
    cursor: not-allowed;
  }

}
